.env
*.DS_Store
*.mp4
/DEMO
/local_data
*.ndjson
gen-lang-client-0812009708-ddddf86ebbea.json
client_secret_754799452182-a16ki1nn12s4nc52o7ou0qkpnnfvjtnd.apps.googleusercontent.com.json
sntnz-471006-008414807080.json